@model findanswer.Models.QA

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutForFindanswer.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>QA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q_Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q_Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Answer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Answer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Analysis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Analysis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cat_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cat_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Add_Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Add_Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img_Path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img_Path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Flag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Flag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From_Source)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From_Source)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Add_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Add_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.For_Exame)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.For_Exame)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Q_Md5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Q_Md5)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
